/* место для вашего кода */
* {
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    line-height: 18px;
    color: black;
}

ul, ol, h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}

ul {
    list-style: circle;
}

a {
    text-decoration: underline;
    text-underline-offset: 4px;
    color: black;
}

address {
    font-style: normal;
    line-height: 24.3px 
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    padding: 92px 49px 92px 51px;
    margin: 0 auto;
}

.header-logo-image {
    width: 148px;
    height: 105px;
}

.header-menu-list {
    display: flex;
    gap: 32px;
}

.header-list-item-no-bullit {
    list-style: none;
}

.header-link-active {
    text-decoration: none;
}

.header-menu {
    padding: 52px 206px 44px 5px;
}

.header-logo {
    margin-top: 10px;
}

.header-address {
    margin-left: 352px;
    margin-right: 1px;
    margin-top: 17px;
    margin-bottom: 6px;
}

.cover {
    max-width: 1440px;
    height: auto;
    padding: 0 49px 54px 51px;
    margin: 0 auto;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    background-image: url(../images/cover.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.overlay {
    position: absolute;
    opacity: 0.6;
    background: #000000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.cover-title {
    color: rgb(255, 255, 255);
    font-size: 100px;
    font-style: normal;
    font-weight: bold;
    line-height: 115%;
    letter-spacing: 30px;
    text-transform: uppercase;
    z-index: 1;
}

.align-text {
    display:block;
    padding: 166px 40px 11px 52px;
}

.align-text-right {
    display: block;
    text-align: right;
    padding: 0 16px 126px 50px;
}

.align-text-center {
    display: block;
    text-align: center;
    padding: 0 25px 4px 38px;
}

.letter-spacing-extended {
    letter-spacing: 61px;
}

.no-letter-spacing {
    letter-spacing: 15px;
}

.cover-description {
    display: flex;
    justify-content: flex-end;
    padding-right: 46px;
}

.cover-description-text {
    color: #ffffff;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: normal;
    line-height: 28px;
    text-transform: uppercase;
    word-spacing: 18px;
    padding-right: 79px;
    align-self: center;
}

.bet-button {
    color: #ffffff;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    text-transform: uppercase;
    border: 1px solid #ffffff;
    padding: 12px 32px;
    background-color: transparent;
}

.lots {
    max-width: 1440px;
    padding: 180px 50px 180px 50px;
    margin: 0 auto;
}

.lots-title {
    color: #000;
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-left: 42px;
    padding-bottom: 27px;
}

.lots-card-list {
    display: flex;
    gap: 25px;
    list-style: none;
    width: 100%;
}

.lots-card-list-item {
    max-width: 430px;
    height: auto;
}

.card-link {
    display: block;
    width: 100%;
    text-decoration: none;
}

.card {
    min-height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 50px 40px;
    position: relative;
}

.card-type {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 450px;
    width: 100%;
    max-width: 430px;
    z-index: 1;
}

.lots-overlay {
    flex-grow: 1;
    opacity: 0.6;
    background: #000;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.card-type-film {
    background-image: url(../images/card-lot-01.jpg);
}

.card-type-book {
    background-image: url(../images/card-lot-02.jpg);
}

.card-type-picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card-title {
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
    line-height: 120%;
    text-decoration-line: underline;
    text-transform: uppercase;
}

.card-text {
    color: #ffffff;
    font-size: 20px;
    font-weight: normal;
    line-height: 120%;
}

.lots-look-more-link {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    display: inline-block;
    text-underline-offset: 5px;
    margin-top: 30px;
    margin-left: 42px;
}

.about {
    max-width: 1440px;
    padding: 0 49px 0 51px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.about-logo-image {
    width: 148px;
    height: 114px;
}

.about-logo {
    width: 240px;
    height: 240px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    margin-right: 10px;
    margin-left: 2px;
}

.about-column {
    display: inline-flex;
    max-width: 910px;
    height: auto;
    padding-bottom: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
    padding-top: 100px;
    margin-left: 20px;
}

.about-title {
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    text-transform: uppercase;
    padding-bottom: 75px;
}

.logo-column {
    padding-left: 95px;
    padding-top: 1px;
    padding-right: 90px;
}

.about-text {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
}

.footer {
    max-width: 1440px;
    padding: 180px 49px 0 51px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer-menu-link-active {
    text-decoration: none;
}

.footer-menu {
    align-self: flex-start;
    margin-left: 6px;
}

.footer-menu-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-menu-list-item {
    margin-top: 3px;
}

.footer-address {
    padding-right: 319px;
}

.footer-social-list {
    list-style: none;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 46px;
    padding-left: 320px;
}

@media(max-width:1100px) {
    .lots-card-list {
        flex-wrap: wrap;
        flex-direction: column;
   }
    .lots-card-list-item {
        white-space: nowrap;
   }
    .card-text {
        white-space: wrap;
   }
    .card-title {
        white-space: wrap;
   }
}

@media(max-width:1100px) {
    .header-menu-list {
        flex-wrap: wrap;
        padding-right: 20px;
        font-size: 16px;
        row-gap: 12px;
   }
    .header-menu-list-item {
        width: 100%;
        margin-bottom: 0px;
   }
}

@media(max-width:1100px) {
    .address {
        flex-wrap: wrap;
   }
    .header-address {
        width: 50%;
   }
}

@media(max-width:1100px) {
    .footer-menu-list {
        flex-wrap: wrap;
   }
    .footer-menu-list-item {
        width: 100%;
        white-space: nowrap;
        margin-bottom: 10px;
        padding-right: 20px;
        font-size: 16px;
   }
}

@media(max-width:1100px) {
    .address {
        flex-wrap: wrap;
   }
    .footer-address {
        width: 100%;
        padding-right: 50px;
   }
}

@media(max-width:1100px) {
    .footer-social-list {
        flex-wrap: nowrap;
        padding-left: 200px;
   }
    .footer-social-list-item {
        width: 100%;
   }
    .footer-social-icon {
        width: 34px;
        height: 34px;
   }
}




















































